body {
    font-family: "Roboto", sans-serif;
    background-color: black;
}

.post {
    width: 450px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 15px;

}

.fa {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer
}

.icons-title {
    display: flex;
    align-items: center;

}

.icons-title div {
    margin-left: 10px;
}


.icons-title div p{
    margin: 0;
    font-size: 12px;
}

.icons-options {
    display: flex;
    align-items: center;
}

.post-img img{
    width: 100%;
}

.post-body {
    padding-bottom: 15px;
}

.post-icons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.icons-left i {
    padding-right: 10px;
}

.post-interactions {
    font-size: 13px;
    padding: 0 10px;
}

.post-interactions p {
    color:#4b4b4b
}

.post-interactions p span {
    font-weight: bold;
    cursor: pointer;
     color: #000;
}

